/* ブラウザがそれぞれ持っているCSSをリセットするためのCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* paddingの左右を０にする、widthは設定必要？ */
header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
/* ナビ */
/* 線入れるの忘れてたので追記*/
/* padding上下15pxは av-listでの指定の方がいい？
nav-list-itemでの指定でもいい？*/
.nav-list {
  text-align: center;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
}

/* list-styleの設定は必要？ */
/* nav-list-item のmarginで指定？ */
.nav-list-item {
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
}

/* flexboxにてflex-wrap適用 */
/* margin指定必要 paddingとの違いがわからない。。。*/
/* marginのauto指定で中央によるやつ！ */

.main {
  width: 800px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
/* それぞれの色指定 */
.box1 {
  height: 200px;
  width: 200px;
  background-color: #e6ffe9;
}
.box2 {
  height: 200px;
  width: 200px;
  background-color: #cbffd3;
}
.box3 {
  height: 200px;
  width: 200px;
  background-color: #aeffbd;
}
.box4 {
  height: 200px;
  width: 200px;
  background-color: #93ffab;
}
.box5 {
  height: 200px;
  width: 200px;
  background-color: #f3ffd8;
}
.box6 {
  height: 200px;
  width: 200px;
  background-color: #edffbe;
}
.box7 {
  height: 200px;
  width: 200px;
  background-color: #e9ffa5;
}

.box8 {
  height: 200px;
  width: 200px;
  background-color: #e4ff8d;
}
.box9 {
  height: 200px;
  width: 200px;
  background-color: #d9e5ff;
}
.box10 {
  height: 200px;
  width: 200px;
  background-color: #bad3ff;
}
.box11 {
  height: 200px;
  width: 200px;
  background-color: #a4c6ff;
}
.box12 {
  height: 200px;
  width: 200px;
  background-color: #8eb8ff;
}
/* フッター */
footer {
  width: 100%;
  height: 120px;
  background-color: #848282;
  line-height: 120px;
  text-align: center;
}
.footer-text {
  color: #fff;
}
